.crossword-cell {
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  border: 2px solid #e10600;
  background-color: #fff;
  box-shadow: 0 0 6px #e10600;
  transition: all 0.3s ease;
}

.crossword-cell.correct {
  background-color: #00e676 !important; /* verde lima brillante */
  box-shadow: 0 0 10px #00ff88 !important;
  border-color: #00ff88;
}

.crossword-cell.incorrect {
  background-color: #ff1744 !important; /* rojo vibrante */
  box-shadow: 0 0 10px #ff5e7a !important;
  border-color: #ff5e7a;
}

.crossword-cell input {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 22px;
  width: 38px;
  height: 38px;
  border: none;
  background: transparent;
  color: #000;
}

/* Placeholder para celdas inactivas */
.crossword-placeholder {
  width: 36px;
  height: 36px;
  background: #000;
  border: 1px solid #222;
}

@media (max-width: 768px) {
  .crossword-cell {
    width: 34px;
    height: 34px;
    border-radius: 5px;
    border-width: 1.5px;
    box-shadow: 0 0 4px #e10600;
  }

  .crossword-cell input {
    font-size: 18px;
    width: 30px;
    height: 30px;
  }

  .crossword-placeholder {
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 500px) {
  .crossword-cell {
    width: 28px;
    height: 28px;
    border-radius: 4px;
    border-width: 1.2px;
    box-shadow: 0 0 3px #e10600;
  }

  .crossword-cell input {
    font-size: 16px;
    width: 24px;
    height: 24px;
  }

  .crossword-placeholder {
    width: 24px;
    height: 24px;
  }
}
