.pilot-helmet {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}

.helmet-image {
  width: 80%;
  max-width: 60px;
  height: auto;
  object-fit: contain;
  animation: zoomHelmet 0.4s ease-out;
}


.pilot-name {
  font-style: italic;
  font-size: 0.9rem;
  letter-spacing: 0.5px;
  font-family: 'F1 Italic', sans-serif;
  animation: fadeInName 0.6s ease-out;
}

.helmet-x .pilot-name {
  color: #00aaff;
  text-shadow: 0 0 6px rgba(0, 170, 255, 0.5);
}

.helmet-o .pilot-name {
  color: #ff1e1e;
  font-style: italic;
  text-shadow: 0 0 6px rgba(255, 30, 30, 0.5);
}


@keyframes zoomHelmet {
  0% { transform: scale(0.7); opacity: 0; }
  100% { transform: scale(1); opacity: 1; }
}

@keyframes fadeInName {
  0% { opacity: 0; transform: translateY(6px); }
  100% { opacity: 1; transform: translateY(0); }
}

.helmet-o .helmet-image {
  transform: scale(1.14); /* Puedes ajustar 1.05 o 1.15 según lo necesites */
}
