.overcut {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.01em;
  line-height: 100%;
  font-weight: 400;
  font-family: inherit;
  white-space: nowrap;
}
.frameContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 9px 0 0;
}
.shop {
  align-self: stretch;
  position: relative;
  line-height: 130%;
}
.subFrameset {
  width: 39px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-sm-5) 0 0;
  box-sizing: border-box;
  color: var(--color-black);
}
.newstand {
  align-self: stretch;
  position: relative;
  line-height: 130%;
}
.subFrameset1 {
  width: 77px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-sm-5) 0 0;
  box-sizing: border-box;
}
.whoWeAre {
  align-self: stretch;
  position: relative;
  line-height: 130%;
  white-space: nowrap;
}
.subFrameset2 {
  width: 90px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-sm-5) 0 0;
  box-sizing: border-box;
}
.myProfile {
  align-self: stretch;
  position: relative;
  line-height: 130%;
  white-space: nowrap;
}
.subFrameset3 {
  width: 76px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-sm-5) 0 0;
  box-sizing: border-box;
}
.login {
  flex: 1;
  position: relative;
  font-size: var(--font-size-base);
  line-height: 130%;
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: center;
}
.cartButton,
.header,
.headerFrameset {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.cartButton {
  cursor: pointer;
  border: 0;
  padding: var(--padding-sm-5) 41px var(--padding-sm-5) 42px;
  background-color: var(--color-whitesmoke);
  width: 126px;
  border-radius: 8px;
  overflow: hidden;
  flex-shrink: 0;
  justify-content: flex-start;
  box-sizing: border-box;
}
.cartButton:hover {
  background-color: #dbdbdb;
}
.header,
.headerFrameset {
  color: var(--color-whitesmoke);
}
.headerFrameset {
  justify-content: flex-start;
  gap: 0 48px;
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
}
.header {
  width: 100%;
  background-color: var(--color-black);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  justify-content: space-between;
  padding: 32px 96px 23px;
  box-sizing: border-box;
  top: 0;
  z-index: 99;
  position: sticky;
  letter-spacing: normal;
  gap: 20px;
  text-align: left;
  font-size: 48px;
  font-family: var(--font-racing-sans-one);
}
@media screen and (max-width: 750px) {
  .headerFrameset {
    display: none;
  }
  .header {
    width: 840px;
    padding-left: var(--padding-29xl);
    padding-right: var(--padding-29xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 675px) {
  .headerFrameset {
    gap: 0 24px;
  }
}
@media screen and (max-width: 450px) {
  .header {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}