.body{
  width: 100%;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; /* Asegura que el encabezado esté siempre en la parte superior */
  height: 60px; /* Ajusta según sea necesario */
}

.footer {
  background-color: #DFE1E1;
  color: #949595;
  position: relative;
  width: 100%;
  clear: both;
}

.Body {
  position: relative;
  border-top: 180px solid transparent; /* Altura del encabezado + un poco extra */
  margin: -60px 0 0; /* Compensa el borde superior */
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}

.Body:before {
  content: "";
  position: absolute;
  top: -60px; /* Ajusta según la altura del encabezado */
  left: 0;
  right: 0;
  border-top: 2px solid transparent; /* Ajusta según sea necesario */
}


.App {
  width: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}